@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;

    --fundo: #002B5B;
    --clara: #DFF6FF;
}

body {
    background: var(--fundo);
    color: var(--clara);
    font-family: var(--font-family);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5rem;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--clara);
    display: inline-block;
    font-size: 4rem;
    padding: 10px;
    margin: 20px;
}

.btn-jogar {
    padding: 8px 15px;
    border: 0;
    background: #96c3f5;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}